RewriteEngine on

RewriteCond $1 !^giftschool.co.in/
RewriteCond %{HTTP_HOST} ^(www\.)?giftschool\.co\.in$
RewriteRule ^(.*)$ /giftschool.co.in/$1 [NC,L]

RewriteCond %{HTTP_HOST} ^(www\.)?genuineinfotech\.com [NC]
RewriteCond %{SERVER_PORT} 80
RewriteRule ^(.*)$ https://www.genuineinfotech.com/$1 [R,L]
